.animal-animal-sidebar-menu {
  position: sticky;
  top: 70px; /* Dostosuj do wysokości Twojego topbaru */
  z-index: 10;
  border: 1px solid #ddd;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  flex: 3;
  display: flex;
  flex-direction: column;
  background-color: #f4f4f4;
  padding: 1em;
}

.animal-animal-tabs {
  display: flex;
  gap: 10px;
  margin-bottom: 1em;
  padding: 0.5em;
  border: 2px solid #ddd;
  overflow-x: auto;
  flex-wrap: wrap;
}

.animal-animal-tabs::-webkit-scrollbar {
  display: none;
}

.animal-animal-menu-item {
  background-color: white;
  color: #2ecc71;
  border: 2px solid #2ecc71;
  border-radius: 8px;
  padding: 10px 16px; /* Dopasuj wielkość przycisków */
  text-align: center;
  font-size: 1em;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  flex: 0 0 auto; /* Zmniejszenie elastyczności przycisków */
  min-width: auto; /* Ustawienie minimalnej szerokości */
  width: auto; /* Przyciski dostosują się do treści */
}

.animal-animal-menu-item.active {
  background-color: #2ecc71;
  color: white;
}

.animal-animal-menu-item:hover {
  background-color: #27ae60;
  color: white;
}

.animal-animal-tab-content {
  background-color: white;
  padding: 1em;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  font-size: 1em;
  color: #333;
  border-top: 1px solid #ddd;
  text-align: center;
}


 .animal-profile-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 1em; 
} 

.change-animal-photo-button
.edit-animal-profile-button{
  padding: 8px 16px; /* Zmniejszenie przycisków */
  font-size: 0.9em; /* Mniejszy rozmiar tekstu w przyciskach */
  border-radius: 8px;
  gap: 10px;
  background-color: white;
  border: 2px solid #2ecc71;
  color: #2ecc71;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}


.change-animal-photo-button:hover
.edit-animal-profile-button:hover {
  background-color: #27ae60;
  color: white;
} 

.change-animal-photo-button:active
.edit-animal-profile-button:active {
  background-color: #27ae60;
  color: white;
} 



.delete-animal-profile-button {
  background-color: #e74c3c;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.delete-animal-profile-button:hover {
  background-color: #c0392b;
}



.animal-date-of-birth-container{
  font-size: medium;
  font-weight: 500;
}