.animal-circle {
    width: clamp(5em, 8vw, 8em); /* Minimalnie 4em, maksymalnie 7em */
    height: clamp(5em, 8vw, 8em); 
    background-color: white;
    border-radius: 50%;
    margin: 0.75em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    box-shadow: 0em 0.2em 0.4em rgba(0, 0, 0, 0.2);
}
  
.animal-circle:hover {
    transform: scale(1.1);
    box-shadow: 0em 0.4em 0.6em rgba(0, 0, 0, 0.3);
}
  
.animal-circle img {
    width: 70%;
    height: 70%;
    border-radius: 50%;
    object-fit: cover;
}
  
.animal-name {
    margin-top: 0.4em;
    font-size: clamp(0.8em, 2vw, 1em);
    color: #333;
}
