.animal-profile-container{
    display: flex;
}

.animal-basic-info-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 0.125em solid black;
    border-radius: 1em;
    padding: 0.25em 0.25em;
    margin: 0.125em;
    width: 20em;
}

.animal-basic-info-container img {
    width: 80%;
    height: 80%;
}
