.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    background-color: #f0f0f0;
    color: #333;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.login-container h2 {
    margin-bottom: 20px;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    color: #333;
}

.login-form {
    width: 100%;
    max-width: 400px;
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
}

.form-group input {
    width: 100%;
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.password-input-container {
    position: relative;
}

.password-input-container input {
    width: calc(100% - 50px); /* Leave space for the button */
    padding: 10px;
}

.password-toggle {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    color: #4caf50;
    font-weight: bold;
    cursor: pointer;
    font-size: 0.9em;
}

.password-toggle:hover {
    color: #45a049;
}

.submit-button {
    width: 100%;
    padding: 12px;
    background-color: #4caf50;
    color: #fff;
    font-size: 1.1em;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s ease;
}

.submit-button:hover {
    background-color: #45a049;
}

.login-register-link {
    text-align: center;
    margin-top: 20px;
}

.login-register-link a {
    color: #4caf50;
    text-decoration: none;
    font-weight: bold;
}

.login-register-link a:hover {
    text-decoration: underline;
}

.password-reset-link{
    text-align: center;
    margin-top: 20px;
}

.password-reset-link a{
    color: #4caf50;
    text-decoration: none;
    font-weight: bold;
}

.password-reset-link a:hover {
    color: #4caf50;
    text-decoration: none;
    font-weight: bold;
}
